<section id="todoapp">
    <header id="header">
      <h1>todo</h1>
      <input id="new-todo" autofocus="" >
    </header>
    <section id="main" style="display: block;">
      <%= form_for @item, html: {'data-remote' => true} do |f| %>
        <%= f.text_field :description %>
        <%= f.submit "Add Item!", class: 'btn' %>
      <% end %>
    </selection>
</selection>

<% @items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true%></td>
      </tr>
<% end %>

<ul id="items">
  <%= render partial: "item", collection: @items %>
</ul>
<br>
